
[submodule "lib/Crow"]
	path = lib/Crow
	url = https://github.com/CrowCpp/Crow
[submodule "lib/poco"]
	path = lib/poco
	url = https://github.com/pocoproject/poco
[submodule "lib/Catch2"]
	path = lib/Catch2
	url = https://github.com/catchorg/Catch2
