[submodule "lib/Catch2"]
	path = lib/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "lib/glaze"]
	path = lib/glaze
	url = https://github.com/stephenberry/glaze
[submodule "lib/mongo-cxx-driver"]
	path = lib/mongo-cxx-driver
	url = https://github.com/tadashibashi/mongo-cxx-driver
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "lib/bcrypt"]
	path = lib/bcrypt
	url = https://github.com/tadashibashi/bcrypt
[submodule "lib/jwt-cpp"]
	path = lib/jwt-cpp
	url = https://github.com/tadashibashi/jwt-cpp
[submodule "lib/zip"]
	path = lib/zip
	url = https://github.com/kuba--/zip
[submodule "lib/Crow"]
	path = lib/Crow
	url = https://github.com/CrowCpp/Crow
