# ----- OS files -----
# macOS
.DS_Store
Thumbs.db


# ----- IDE -----
.idea/
.vscode/
*.sublime-workspace


# ----- Temporary files -----
.cache/
.fscache/
Testing/


# ----- Built files -----
insound/definitions.h
build/
cmake-build*/
